<div class="component-footer">
    <div class="container-footer">
        <div class="first-part-footer">
            <div class="send-information-marketing">
                <p class="title">Haz tus sueños realidad</p>
                <p>Podemos contruir cualquier cosa. ¡Escribenos!</p>
                <div class="input-send">
                    <input type="text" placeholder="Envia tu correo para recibir el catalogo">
                    <button>
                        <img src="../../../assets/img/icons/proyecto send button.png" alt="Recibir correo con el catalogo">
                    </button>
                </div>
            </div>
            <div class="about-us_contact-us">
                <div id="about-us" class="about-us">
                    <p class="title">Sobre nosotros</p>
                    <a href="Historia">Historia</a>
                    <a href="Herrero">Herrero</a>
                </div>
                <div id="contact-us" class="contact-us">
                    <p class="title">Contactanos</p>
                    <a href="https://wa.me/633724088?text=Hola,%20me%20gustaría%20hacer%20una%20consulta">WhatsApp</a>
                    <a href="mailto:tomasiewic@gmail.com?subject=Consulta&body=Hola,%20me%20gustaría%20obtener%20más%20información.">Correo electrónico</a>
                </div>
            </div>
        </div>
        <div class="second-part-footer">
            <div class="information-create">
                <p>©2016 DarekBarwars Private Ltd. All Rights Reserved.</p>
            </div>
            <div id="social-media" class="information-social-media">
                <div>
                    <a href="https://www.instagram.com/darek.rivas/">
                        <img src="../../../assets/img/icons/intagram2.png" alt="Ir al Instagram">
                    </a>
                </div>
                <div>
                    <a href="https://wa.me/633724088?text=Hola,%20me%20gustaría%20hacer%20una%20consulta">
                        <img src="../../../assets/img/icons/whatsapp2.png" alt="Ir al WhatsApp">
                    </a>
                </div>
                <div>
                    <img src="../../../assets/img/icons/pinterest2.png" alt="Ir a Pinterest">
                </div>
            </div>
            <div class="information-developer">
                <a href="https://www.linkedin.com/in/sebastian-rafal-tomasiewicz-b4bb01168/">
                    <div class="developer-create">Desarrollado y editado por: Sebastian Tomasiewicz
                        <img src="../../../assets/img/icons/linkeding.webp" alt="Ir a linkedin">
                    </div>
                    <div class="developer-support">
                        Mantenimiento técnico y soporte: Sebastian Tomasiewicz
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
