<div class="component-footer">
    <div class="container-footer">
        <div class="first-part-footer">
            <div class="send-information-marketing">
                <p class="title">Haz tus sueños realidad</p>
                <p>Podemos contruir cualquier cosa</p>
                <div class="input-send">
                    <input type="text" placeholder="Añade tu correo">
                    <button>
                        <img src="../../../assets/img/icons/proyecto send button.png" alt="">
                    </button>
                </div>
            </div>
            <div class="about-us">
                <p class="title">Sobre nosotros</p>
                <p>Historia</p>
                <p>Herrero</p>
            </div>
            <div class="contact-us">
                <p class="title">Contactanos</p>
                <p>WhatsApp</p>
                <p>Correo electrónico</p>
            </div>
        </div>
        <div class="second-part-footer">
            <div class="information-create"></div>
            <div class="information-social-media">
                <div>
                    <img src="../../../assets/img/icons/intagram2.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/img/icons/whatsapp2.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/img/icons/pinterest2.png" alt="">
                </div>
            </div>
            <div class="information-developer">
                <div class="developer-create">Sebastian Tomasiewicz</div>
                <div class="developer-support">Sebastian Tomasiewicz</div>
            </div>
        </div>
    </div>
</div>
