<div class="componente-navbar">
    <div class="logo-home">
        <a href="#component-background">
            <img src="../../../assets/img/nuevoLogo.png" alt="">
        </a>
    </div>
    <div class="links">
        <div class="desktopPc" *ngIf="!smartphone">
            <div>
                <a href="#contact-us">Contacto</a>
            </div>
            <div>
                <a href="#container-center">Productos</a>
            </div>
            <div>
                <a href="#social-media">Redes Sociales</a>
            </div>
            <div>
                <a href="#element">Galeria</a>
            </div>
        </div>
        <div class="smartphone" *ngIf="smartphone">
            <div class="hamburguer" (click)="changeBoolean('smartphone_toggle')">
                <img *ngIf="!smartphone_toggle" src="../../../assets/img/hamburguer.png" alt="">
                <img *ngIf="smartphone_toggle" src="../../../assets/img/hamburguerExit.png" alt="">
            </div>
            <div class="smartphone-toggle" *ngIf="smartphone_toggle">
                <ul>
                    <li><a (click)="changeBoolean('smartphone_toggle')" href="#contact-us">Contacto</a></li>
                    <li><a (click)="changeBoolean('smartphone_toggle')" href="#container-center">Productos</a></li>
                    <li><a (click)="changeBoolean('smartphone_toggle')" href="#social-media">Redes Sociales</a></li>
                    <li><a (click)="changeBoolean('smartphone_toggle')" href="#element">Galeria</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="signature">
        <img src="../../../assets/img/signature.webp" alt="">
    </div>
</div>
