
@import '../../../assets/styles/colors.scss';

.componente-navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    font-size: 4vw;
    background: $myBlackOpacity;

    .logo-home {
        width: 10%;
        margin: 3vw 10vw 3vw 8vw;

        img {
            width: 100%;
            height: auto;
        }
    }
    .links {
        width: 30%;

        .desktopPc {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Lora';
    
            a {
                text-decoration: none;
                color: $myTextWhite;
                border-bottom: 2px solid $myOrange;
                cursor: pointer;
            }
            a:hover {
                color: $myOrangeHover;
                font-weight: bold;
            }
        }
        .smartphone {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;

            .hamburguer {
                width: 40%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .smartphone-toggle{
                position: absolute;
                top: 200%;
                width: 160%;
                border: 1px solid $myOrange;
                border-radius: 12%;
                background-color: rgba(0, 0, 0, 0.8);
                color: $myTextWhite;
                font-weight: bold;
                box-shadow: 0 4px 8px $myOrange;

                ul {
                    all: unset;
                    list-style-type: none;

                    a * {
                        text-decoration: none;
                        color: $myTextWhite;
                    }
                    li {
                        margin: 4vw;

                        a {
                            text-decoration: none;
                            color: $myTextWhite;
                            cursor: pointer;
                        }
                    }
                    li:hover {
                        color: $myOrange;
                    }
                }
            }
        }
    }
    .signature {
        display: flex;
        justify-content: left;
        width: 25%;
        padding: 2vw;

        img {
            width: 90%;
            height: auto;
        }
    }
}

@media (min-width: 450px) and (max-width: 950px) {
    .componente-navbar {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0%;
        font-size: 1.5vw;
        background: $myBlackOpacity;
    
        .logo-home {
            width: 8%;
            margin: 1.5vw 0vw 1.5vw 3vw;
    
            img {
                width: 100%;
                height: auto;
            }
        }
        .links {
            width: 70%;
    
            .desktopPc {
                display: flex;
                justify-content: center;
                width: 100%;
                font-family: 'Lora';
        
                a {
                    text-decoration: none;
                    color: $myTextWhite;
                    margin: 0vw 3vw;
                    border-bottom: 2px solid $myOrange;
                    cursor: pointer;
                }
                a:hover {
                    color: $myOrangeHover;
                    font-weight: bold;
                }
            }
        }
        .signature {
            display: flex;
            justify-content: left;
            width: 20%;
            padding: 2vw;
    
            img {
                width: 90%;
                height: auto;
            }
        }
    }
}

@media (min-width: 950px) {
    .componente-navbar {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0%;
        font-size: 1.5vw;
        background: rgba(0, 0, 0, 0.5);
    
        .logo-home {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 12%;
            margin-right: 0%;
            margin: 0vw 0vw 0vw 0vw;
    
            img {
                width: 35%;
                height: auto;
            }
        }
        .links {
            width: 58%;
            margin-right: 5%;
    
            .desktopPc {
                display: flex;
                justify-content: center;
                width: 100%;
                font-family: 'Lora';
        
                a {
                    text-decoration: none;
                    color: $myTextWhite;
                    margin: 0vw 2vw;
                    border-bottom: 2px solid $myOrange;
                    cursor: pointer;
                }
                a:hover {
                    color: $myOrangeHover;
                    font-weight: bold;
                }
            }
        }
        .signature {
            display: flex;
            justify-content: right;
            width: 10%;
    
            img {
                width: 100%;
                height: auto;
                margin: -1vw 0vw;
            }
        }
    }
}