
@import '../../../assets/styles/colors.scss';

.container-center {
    display: grid;
    place-items: center;
    margin: 2vw 0%; 

    .container-products {
        width: 80vw;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        display: flex;
        
        .text {
            height: 20vw;
            display: flex;
            align-items: center;
            font-size: 6vw;
            font-weight: bolder;

            p {
                margin-top: 6vw;
            }
        }
    }
}

@media (min-width: 450px) and (max-width: 950px) {

    .container-center {
    
        .container-products {
            grid-template-columns: repeat(2, 1fr);
        }
        .title {
            
            .text {
                font-size: 3vw;
            }
        }
    }

}

@media (min-width: 950px) {

    .container-center {
    
        .container-products {
            grid-template-columns: repeat(3, 1fr);
        }
        .title {
            
            .text {
                font-size: 3vw;
            }
        }
    }

}