
@import '../../../assets/styles/colors.scss';

.component-background {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;

    img {
        width: auto;
        height: 100%;
    }
    H1 {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: -14%;
        font-size: 10vw;
        color: $myTextWhiteOpacity;
    }
}

@media (min-width: 450px) and (max-width: 950px) {
    .component-background {
        width: 100%;
        height: auto;
    
        img {
            width: 100%;
            height: auto;
            transform: translate(0px, 0px);
        }
    }
}

@media (min-width: 950px) {
    .component-background {
        width: 100%;
        height: 100vh;
    
        img {
            width: 100%;
            height: auto;
            transform: translate(0px, 0px);
        }
    }
}