
@import '../../../assets/styles/colors.scss';

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0vw;

    .image {
        width: 50%;
        height: auto;
    
        img {
            width: 100%;
            height: auto;
        }
    
    }
}
