<div class="product">
    <div class="container-product">
        <div class="img-product">
            <img src="../../../assets/img/products/{{product.image}}.webp" alt="">
        </div>
        <div class="info-product">
            <div class="price">
                <p>{{product.price}}</p>
            </div>
            <div class="title">
                <p>{{product.title}}</p>
            </div>
            <div class="information">
                <p>{{product.text}}</p>
            </div>
        </div>
    </div>
</div>
