

@import '../../../assets/styles/colors.scss';


.container-product {
    margin: 4vw 4vw;
    padding: 2vw 2vw;
    border-radius: 10px;
    color: $myTextWhite;
    box-shadow: 0 0 5px orange, 0 0 10px yellow, 0 0 20px red;

    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 2px solid rgb(255, 152, 69);
    }
}
